## Data Construction

In [1]:
import pandas as pd
import numpy as np

### CO2 dataset

Data source: EDGAR - Emissions Database for Global Atmospheric Research [website](https://edgar.jrc.ec.europa.eu/dataset_ghg70)

In [2]:
df = pd.read_excel("../data/IEA_EDGAR_CO2_1970-2021/IEA_EDGAR_CO2_1970-2021.xlsx", sheet_name = "IPCC 2006", header = 10)

In [3]:
df

,IPCC_annex,C_group_IM24_sh,Country_code_A3,Name,ipcc_code_2006_for_standard_report,ipcc_code_2006_for_standard_report_name,Substance,fossil_bio,Y_1970,Y_1971,...,Y_2012,Y_2013,Y_2014,Y_2015,Y_2016,Y_2017,Y_2018,Y_2019,Y_2020,Y_2021
0,Non-Annex_I,Rest Central America,ABW,Aruba,1.A.1.a,Main Activity Electricity and Heat Production,CO2,bio,0.022397,0.021412,...,1.337603,2.371433,2.497066,2.970795,2.438748,2.509098,3.096665,3.255611,3.378899,3.378899
1,Non-Annex_I,Rest Central America,ABW,Aruba,1.A.2,Manufacturing Industries and Construction,CO2,bio,12.228673,11.690942,...,9.856529,6.886571,6.890052,7.378661,7.853166,9.340506,7.365402,7.718069,8.047569,8.047569
2,Non-Annex_I,Rest Central America,ABW,Aruba,1.A.4,Residential and other sectors,CO2,bio,0.879948,0.845336,...,6.473158,6.021210,6.630579,5.848465,6.489807,6.417006,6.410401,4.571319,7.808080,7.808080
3,Non-Annex_I,Rest Central America,ABW,Aruba,1.A.5,Non-Specified,CO2,bio,0.058367,0.056820,...,1.714841,1.721481,1.838701,2.157164,1.972983,2.068339,2.147736,2.004358,2.450398,2.450398
4,Non-Annex_I,Rest Central America,ABW,Aruba,1.B.1,Solid Fuels,CO2,bio,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4768,Non-Annex_I,Southern_Africa,ZWE,Zimbabwe,2.A.4,Other Process Uses of Carbonates,CO2,fossil,NaN,NaN,...,1.753279,2.182478,1.474799,1.951282,1.528562,1.739092,1.509467,1.374865,1.389039,1.417387
4769,Non-Annex_I,Southern_Africa,ZWE,Zimbabwe,2.B,Chemical Industry,CO2,fossil,92.565000,155.040000,...,63.750000,68.850000,56.100000,58.800000,10.500000,31.500000,33.600000,10.500000,10.500000,NaN
4770,Non-Annex_I,Southern_Africa,ZWE,Zimbabwe,2.C,Metal Industry,CO2,fossil,1357.949642,1202.712467,...,178.100000,195.078000,278.343000,150.261800,185.640000,185.640000,234.000000,228.743089,222.373569,310.070187
4771,Non-Annex_I,Southern_Africa,ZWE,Zimbabwe,2.D,Non-Energy Products from Fuels and Solvent Use,CO2,fossil,22.738632,23.553464,...,57.840742,57.879892,58.915828,57.958218,58.034373,58.111482,58.189518,59.330242,54.166537,57.980658
4772,Non-Annex_I,Southern_Africa,ZWE,Zimbabwe,3.C.3,Urea application,CO2,fossil,NaN,NaN,...,NaN,20.114282,22.785710,1.885714,6.914284,NaN,NaN,NaN,NaN,NaN

In [4]:
df["C_group_IM24_sh"].unique()

array(['Rest Central America', 'India +', 'Southern_Africa',
       'Int. Aviation', 'Central Europe', 'Middle_East',
       'Rest South America', 'Russia +', 'Oceania', 'OECD_Europe',
       'Eastern_Africa', 'Western_Africa', 'Ukraine +', 'Brazil',
       'Southeastern Asia', 'Canada', 'China +', 'Northern_Africa',
       'Indonesia +', 'Japan', 'Asia-Stan', 'Korea', 'Mexico',
       'Int. Shipping', 'USA', 'Turkey'], dtype=object)

In [5]:
df_europe = df.loc[((df["C_group_IM24_sh"]  == "OECD_Europe") | (df["C_group_IM24_sh"]  == "Central Europe")) & 
                   (df["ipcc_code_2006_for_standard_report_name"] == "Road Transportation no resuspension") &
                   (df["fossil_bio"] == "fossil") &
                   (df["IPCC_annex"] == "Annex_I"), :]

In [6]:
df_europe

,IPCC_annex,C_group_IM24_sh,Country_code_A3,Name,ipcc_code_2006_for_standard_report,ipcc_code_2006_for_standard_report_name,Substance,fossil_bio,Y_1970,Y_1971,...,Y_2012,Y_2013,Y_2014,Y_2015,Y_2016,Y_2017,Y_2018,Y_2019,Y_2020,Y_2021
240,Annex_I,OECD_Europe,AUT,Austria,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,7679.742167,8464.743388,...,20943.111263,22272.189375,21912.658444,22356.032360,23212.305141,23690.823455,23960.999018,24297.808947,21133.531890,21650.750631
318,Annex_I,OECD_Europe,BEL,Belgium,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,9987.140917,10439.524807,...,23996.763408,23523.340430,23843.036608,25492.395312,25199.280227,24602.204463,24691.817788,24396.457350,21120.500028,23822.537873
413,Annex_I,Central Europe,BGR,Bulgaria,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,4122.518490,4122.518490,...,7631.285255,6760.610253,7674.956875,8493.307040,8608.445959,8683.902683,8987.419101,9328.043486,8365.572030,8821.042962
762,Annex_I,OECD_Europe,CHE,Switzerland,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,8054.857620,8963.223660,...,16748.030212,16697.161646,16565.870939,15849.392954,15698.266111,15445.691821,15454.619363,15392.797824,12844.464883,12903.577606
1089,Annex_I,Central Europe,CYP,Cyprus,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,600.786502,600.786502,...,1998.093770,1795.225194,1750.271798,1818.854471,1931.796208,1996.668318,2008.794871,2028.533078,1728.373371,1782.542827
1114,Annex_I,Central Europe,CZE,Czech Republic,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,4854.017009,4854.017009,...,15696.493146,15575.985521,16087.818206,16854.609673,17605.839716,18079.486362,18272.149134,18437.679257,16093.021691,17689.688596
1147,Annex_I,OECD_Europe,DEU,Germany,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,77720.677480,84031.191177,...,143512.831495,147593.239995,149468.050957,152460.552649,155798.659137,158771.549546,152954.866693,154733.612140,140122.800820,138938.831304
1216,Annex_I,OECD_Europe,DNK,Denmark,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,5859.095911,5959.388267,...,10698.015882,10494.404265,10677.865069,11106.362310,11293.455174,11258.096586,11552.660794,11306.085109,9368.306426,9405.881698
1379,Annex_I,OECD_Europe,ESP,Spain,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,15242.572980,17120.329200,...,70529.083010,74254.417240,75181.235750,77822.924290,79890.698433,81213.332432,82024.644205,82824.923391,68075.694546,75311.685017
1407,Annex_I,Central Europe,EST,Estonia,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,746.653500,746.653500,...,2164.964184,2127.814671,2143.997170,2212.413297,2279.109886,2351.819091,2392.883684,2356.721569,2481.649549,2574.584357
1466,Annex_I,OECD_Europe,FIN,Finland,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,5278.391754,5548.694752,...,11197.174328,11089.487171,10028.414008,10041.490201,11277.291360,10656.154994,10831.703450,10433.124858,9362.841038,9287.509520
1537,Annex_I,OECD_Europe,FRA,France,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,50795.665432,55918.699104,...,120686.727053,119713.222156,120127.763316,121278.389174,121756.822503,122138.391188,119037.625495,118662.837667,101260.289774,109794.580704
1591,Annex_I,OECD_Europe,GBR,United Kingdom,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,59299.145100,61998.667560,...,108602.050080,107826.412360,109417.133500,111752.396560,114454.787290,114792.191025,113296.303136,111032.923450,85276.818061,90455.575627
1774,Annex_I,OECD_Europe,GRC,Greece,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,3284.458246,3605.873617,...,14020.677964,14334.724563,14226.070247,14353.463886,14693.539552,14358.250048,14424.141936,14813.407310,12010.467143,11993.554235
1812,Annex_I,OECD_Europe,GRL,Greenland,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,NaN,NaN,...,34.393590,43.930260,40.751370,37.572480,40.607820,40.469994,42.389727,42.389727,38.319574,39.099113
1933,Annex_I,Central Europe,HRV,Croatia,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,2274.920919,2274.920919,...,5326.105766,5401.639742,5343.170494,5667.169972,5878.415832,6345.447481,6108.544971,6277.955429,5382.618672,5887.078877
1984,Annex_I,Central Europe,HUN,Hungary,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,3380.977576,3796.488197,...,10224.976933,9550.982100,10658.861996,11712.509786,11719.691692,12441.162112,13208.252269,14017.022984,12821.484641,13561.332227
2071,Annex_I,OECD_Europe,IRL,Ireland,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,2386.421993,2564.242654,...,10157.941566,10327.195736,10732.651870,10916.174821,11508.863533,11264.028843,11426.170481,11358.204853,9696.963647,9858.534030
2144,Annex_I,OECD_Europe,ISL,Iceland,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,240.524241,258.926925,...,768.129728,780.971420,759.196868,800.233493,876.997626,926.439473,952.415891,933.073985,614.834301,626.260114
2194,Annex_I,OECD_Europe,ITA,Italy,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,40634.924385,42486.804299,...,96907.489140,94949.631515,99856.686687,97467.749105,96001.905236,91912.077403,94875.153984,95709.822758,79323.361662,88284.144366
2627,Annex_I,Central Europe,LTU,Lithuania,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,1578.920200,1578.920200,...,4007.958644,4026.884281,4499.933757,4808.928770,5197.566407,5424.953786,5775.977239,6020.520192,5669.711454,5919.082909
2654,Annex_I,OECD_Europe,LUX,Luxembourg,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,437.382300,483.335220,...,6614.033014,6470.419586,6178.777233,5744.195663,5567.805778,5677.751368,6061.043341,6198.479551,5024.897460,5180.788797
2682,Annex_I,Central Europe,LVA,Latvia,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,845.594000,845.594000,...,2462.752759,2509.564870,2653.676570,2842.929939,2897.638543,3057.752151,3056.520496,3082.285306,2684.731481,2727.041924
2893,Annex_I,Central Europe,MLT,Malta,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,204.148620,204.148620,...,496.887600,506.309400,515.868300,547.182900,550.085501,566.217462,633.667245,708.802402,640.745005,653.779753
3212,Annex_I,OECD_Europe,NLD,Netherlands,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,12472.289600,13532.379100,...,31525.623570,30600.141700,28394.519190,28792.314385,29058.819576,29733.534840,29809.459426,29450.313213,26928.669255,26983.291212
3241,Annex_I,OECD_Europe,NOR,Norway,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,4098.164760,4288.182300,...,9522.553340,10255.015370,10601.420240,9693.355810,9331.108489,8659.476821,8916.896666,8354.026746,7994.171199,8003.910085
3479,Annex_I,Central Europe,POL,Poland,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,9631.938240,10280.020680,...,44862.691180,41938.990920,42568.308480,45524.002510,52053.368736,60306.424820,61938.296906,63049.338974,59711.170695,64025.075097
3543,Annex_I,OECD_Europe,PRT,Portugal,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,2408.102100,2702.652120,...,15063.949211,14821.297262,15032.635272,15060.332974,15556.889049,15858.665216,15935.178587,16392.833574,13362.067928,13745.695462
3659,Annex_I,Central Europe,ROU,Romania,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,6125.842800,6125.842800,...,14469.113228,14142.041351,14743.621179,14810.746363,15911.278851,16960.058087,17497.490260,17820.755343,16728.745542,18206.133491
4000,Annex_I,Central Europe,SVK,Slovakia,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,4265.830080,4265.830080,...,5905.869480,5889.548880,5754.887100,5651.294940,6307.705640,7352.560130,7321.812920,7301.972991,7255.221754,7620.585301
4027,Annex_I,Central Europe,SVN,Slovenia,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,1910.273958,1910.273958,...,5551.866440,5253.153050,5260.137780,5234.769940,5612.197961,5740.546527,5716.554097,5508.055870,4613.154994,4895.386152
4057,Annex_I,OECD_Europe,SWE,Sweden,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,11669.551400,11763.859500,...,18321.276772,17802.891565,17339.868976,17410.609818,16534.378253,16275.993041,15402.536494,15398.677472,13754.707000,13968.164789

In [7]:
# check the difference between 2018 version and the latest ver.
country_2018_version = ['Austria', 'Belgium', 'Bulgaria', 'Switzerland', 'Cyprus',
       'Czech Republic', 'Germany', 'Denmark', 'Spain', 'Estonia',
       'Finland', 'France', 'United Kingdom', 'Greece', 'Croatia',
       'Hungary', 'Ireland', 'Iceland', 'Italy', 'Lithuania',
       'Luxembourg', 'Latvia', 'Malta', 'Netherlands', 'Norway', 'Poland',
       'Portugal', 'Romania', 'Slovak Republic', 'Slovenia', 'Sweden']

set(df_europe.Name.tolist()) ^ set(country_2018_version)

{'Greenland', 'Slovak Republic', 'Slovakia'}

In [8]:
sorted(df_europe.Name.unique().tolist())

['Austria',
 'Belgium',
 'Bulgaria',
 'Croatia',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Estonia',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Greenland',
 'Hungary',
 'Iceland',
 'Ireland',
 'Italy',
 'Latvia',
 'Lithuania',
 'Luxembourg',
 'Malta',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Slovakia',
 'Slovenia',
 'Spain',
 'Sweden',
 'Switzerland',
 'United Kingdom']

In [9]:
df_europe_edit = df_europe.drop(["IPCC_annex", "C_group_IM24_sh", "Country_code_A3", "ipcc_code_2006_for_standard_report", "ipcc_code_2006_for_standard_report_name", "Substance", "fossil_bio"], axis = 1)
df_europe_melt = df_europe_edit.melt(id_vars = ["Name"], value_name = "transport.emissions", var_name = "year").rename(columns = {"Name": "country"})
df_europe_melt["year"] = df_europe_melt["year"].str.split("_", expand = True)[1].astype(int)
df_europe_melt

          country  year  transport.emissions
0         Austria  1970          7679.742167
1         Belgium  1970          9987.140917
2        Bulgaria  1970          4122.518490
3     Switzerland  1970          8054.857620
4          Cyprus  1970           600.786502
...           ...   ...                  ...
1659     Portugal  2021         13745.695462
1660      Romania  2021         18206.133491
1661     Slovakia  2021          7620.585301
1662     Slovenia  2021          4895.386152
1663       Sweden  2021         13968.164789

[1664 rows x 3 columns]

### GDP and Population

World Bank Open Data [link](https://data.worldbank.org/)

- GDP: GDP (constant 2015 US$) [link](https://data.worldbank.org/indicator/NY.GDP.MKTP.KD)
- Population: Population, total [link](https://data.worldbank.org/indicator/SP.POP.TOTL)

In [10]:
df_world_bank = pd.read_csv("../data/P_Data_Extract_From_World_Development_Indicators/eec01459-5d64-4307-96cd-eb77723a6c32_Data.csv")
df_world_bank

,Series Name,Series Code,Country Name,Country Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,GDP (current US$),NY.GDP.MKTP.CD,Austria,AUT,6592693841.18495,7311749633.36229,7756110210.11966,8374175257.73075,9169983885.71185,9994070615.85997,...,4.094018e+11,4.301910e+11,4.425848e+11,3.819711e+11,3.958374e+11,4.172612e+11,4.549912e+11,4.446212e+11,4.352252e+11,480368403893.364
1,GDP (current US$),NY.GDP.MKTP.CD,Belgium,BEL,11658722590.99,12400145221.595,13264015675.3193,14260017387.0492,15960106680.6732,17371457607.9374,...,4.961529e+11,5.217910e+11,5.353902e+11,4.623356e+11,4.760628e+11,5.027647e+11,5.432991e+11,5.358309e+11,5.252118e+11,594104177539.525
2,GDP (current US$),NY.GDP.MKTP.CD,Bulgaria,BGR,..,..,..,..,..,..,...,5.430086e+10,5.581014e+10,5.708201e+10,5.078200e+10,5.395390e+10,5.919945e+10,6.636354e+10,6.891588e+10,7.024028e+10,84056312734.3089
3,GDP (current US$),NY.GDP.MKTP.CD,Croatia,HRV,..,..,..,..,..,..,...,5.736936e+10,5.903207e+10,5.842398e+10,5.024278e+10,5.239749e+10,5.632384e+10,6.231684e+10,6.232798e+10,5.747201e+10,68955083280.1922
4,GDP (current US$),NY.GDP.MKTP.CD,Cyprus,CYP,..,..,..,..,..,..,...,2.504866e+10,2.396114e+10,2.322678e+10,1.990919e+10,2.104695e+10,2.294673e+10,2.559647e+10,2.594450e+10,2.500845e+10,28407867534.0035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,Last Updated: 03/01/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_world_bank_edit = df_world_bank.loc[:223,].drop(["Series Code", "Country Code"], axis = 1)
df_world_bank_edit

,Series Name,Country Name,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],1966 [YR1966],1967 [YR1967],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,GDP (current US$),Austria,6592693841.18495,7311749633.36229,7756110210.11966,8374175257.73075,9169983885.71185,9994070615.85997,10887682273.1014,11579431668.9165,...,4.094018e+11,4.301910e+11,4.425848e+11,3.819711e+11,3.958374e+11,4.172612e+11,4.549912e+11,4.446212e+11,4.352252e+11,480368403893.364
1,GDP (current US$),Belgium,11658722590.99,12400145221.595,13264015675.3193,14260017387.0492,15960106680.6732,17371457607.9374,18651883472.4808,19992040788.4593,...,4.961529e+11,5.217910e+11,5.353902e+11,4.623356e+11,4.760628e+11,5.027647e+11,5.432991e+11,5.358309e+11,5.252118e+11,594104177539.525
2,GDP (current US$),Bulgaria,..,..,..,..,..,..,..,..,...,5.430086e+10,5.581014e+10,5.708201e+10,5.078200e+10,5.395390e+10,5.919945e+10,6.636354e+10,6.891588e+10,7.024028e+10,84056312734.3089
3,GDP (current US$),Croatia,..,..,..,..,..,..,..,..,...,5.736936e+10,5.903207e+10,5.842398e+10,5.024278e+10,5.239749e+10,5.632384e+10,6.231684e+10,6.232798e+10,5.747201e+10,68955083280.1922
4,GDP (current US$),Cyprus,..,..,..,..,..,..,..,..,...,2.504866e+10,2.396114e+10,2.322678e+10,1.990919e+10,2.104695e+10,2.294673e+10,2.559647e+10,2.594450e+10,2.500845e+10,28407867534.0035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,GDP (constant LCU),Spain,170596422627.564,190792777290.482,209783218283.119,229915062463.914,242120127110.923,257260225276.763,275901456352.693,287876513256.038,...,1.038521e+12,1.023947e+12,1.038239e+12,1.078092e+12,1.110842e+12,1.143898e+12,1.170030e+12,1.193243e+12,1.058103e+12,1116506000000
220,GDP (constant LCU),Sweden,1043277144600,1102548774000,1149506847000,1210751810700,1293339183400,1342764238400,1370839347800,1416973418700,...,3.925236e+12,3.971859e+12,4.077423e+12,4.260470e+12,4.348687e+12,4.460358e+12,4.547336e+12,4.637655e+12,4.537008e+12,4767265000000
221,GDP (constant LCU),Switzerland,..,..,..,..,..,..,..,..,...,6.308042e+11,6.421091e+11,6.571979e+11,6.680064e+11,6.818254e+11,6.911173e+11,7.108863e+11,7.190045e+11,7.019241e+11,731557344000
222,GDP (constant LCU),United Kingdom,511553311200,525248201800,531041214900,556926202900,587744602000,600335129000,609779003400,626770340700,...,1.785440e+12,1.817933e+12,1.876101e+12,1.920998e+12,1.962592e+12,2.010549e+12,2.044829e+12,2.077635e+12,1.848454e+12,1987548081000
223,GDP (constant LCU),Malta,..,..,..,..,..,..,..,..,...,8.033900e+09,8.473600e+09,9.120400e+09,9.996700e+09,1.033470e+10,1.146380e+10,1.217100e+10,1.289120e+10,1.181810e+10,13035100000

In [12]:
df_world_bank_melt = df_world_bank_edit.melt(id_vars = ["Series Name", "Country Name"], var_name = "year", value_name = "value")
df_world_bank_melt.replace('..', np.nan, inplace = True)
df_world_bank_melt["year"] = df_world_bank_melt["year"].str.split("[", expand = True)[0].astype(int)
df_world_bank_melt["value"] = df_world_bank_melt["value"].astype(float)
df_world_bank_melt

              Series Name    Country Name  year         value
0       GDP (current US$)         Austria  1960  6.592694e+09
1       GDP (current US$)         Belgium  1960  1.165872e+10
2       GDP (current US$)        Bulgaria  1960           NaN
3       GDP (current US$)         Croatia  1960           NaN
4       GDP (current US$)          Cyprus  1960           NaN
...                   ...             ...   ...           ...
13883  GDP (constant LCU)           Spain  2021  1.116506e+12
13884  GDP (constant LCU)          Sweden  2021  4.767265e+12
13885  GDP (constant LCU)     Switzerland  2021  7.315573e+11
13886  GDP (constant LCU)  United Kingdom  2021  1.987548e+12
13887  GDP (constant LCU)           Malta  2021  1.303510e+10

[13888 rows x 4 columns]

In [13]:
df_world_bank_pivot = pd.pivot(df_world_bank_melt, index = ["Country Name", "year"], columns = "Series Name", values = "value").reset_index().rename_axis(None, axis=1).rename(columns = {"Country Name": "country", "Population, total": "pop"})
df_world_bank_pivot

,country,year,GDP (constant 2015 US$),GDP (constant LCU),GDP (current LCU),GDP (current US$),GDP deflator (base year varies by country),GDP deflator: linked series (base year varies by country),pop
0,Austria,1960,8.493096e+10,7.654797e+10,1.245685e+10,6.592694e+09,16.273265,NaN,7047539.0
1,Austria,1961,8.963442e+10,8.078718e+10,1.381550e+10,7.311750e+09,17.101111,NaN,7086299.0
2,Austria,1962,9.200854e+10,8.292697e+10,1.465512e+10,7.756110e+09,17.672322,NaN,7129864.0
3,Austria,1963,9.581610e+10,8.635871e+10,1.582295e+10,8.374175e+09,18.322358,NaN,7175811.0
4,Austria,1964,1.016842e+11,9.164762e+10,1.732663e+10,9.169984e+09,18.905703,NaN,7223801.0
...,...,...,...,...,...,...,...,...,...
1979,United Kingdom,2017,3.071672e+12,2.010549e+12,2.085008e+12,2.683399e+12,103.703423,103.754450,66058859.0
1980,United Kingdom,2018,3.124044e+12,2.044829e+12,2.157410e+12,2.878152e+12,105.505636,105.828537,66460344.0
1981,United Kingdom,2019,3.174164e+12,2.077635e+12,2.238348e+12,2.857058e+12,107.735406,107.961092,66836327.0
1982,United Kingdom,2020,2.824026e+12,1.848454e+12,2.109594e+12,2.704609e+12,114.127506,113.457364,67081000.0
1983,United Kingdom,2021,3.036532e+12,1.987548e+12,2.276715e+12,3.131378e+12,114.548927,113.784285,67326569.0

### Merge datasets

In [14]:
set(df_europe_melt.country.unique()) ^  set(df_world_bank_pivot.country.unique())

{'Czech Republic', 'Czechia', 'Slovak Republic', 'Slovakia'}

In [15]:
df_world_bank_pivot.country = df_world_bank_pivot.country.str.replace("Czechia", "Czech Republic").replace("Slovak Republic", "Slovakia")

In [16]:
set(df_europe_melt.country.unique()) ^  set(df_world_bank_pivot.country.unique())

set()

In [17]:
df_merge = df_europe_melt.merge(df_world_bank_pivot, on = ["country", "year"], how = "left").sort_values(["country", "year"])
df_merge

,country,year,transport.emissions,GDP (constant 2015 US$),GDP (constant LCU),GDP (current LCU),GDP (current US$),GDP deflator (base year varies by country),GDP deflator: linked series (base year varies by country),pop
0,Austria,1970,7679.742167,1.351691e+11,1.218275e+11,2.904729e+10,1.537301e+10,23.842979,NaN,7467086.0
32,Austria,1971,8464.743388,1.420830e+11,1.280589e+11,3.242744e+10,1.785849e+10,25.322286,NaN,7500482.0
64,Austria,1972,9479.252474,1.509033e+11,1.360086e+11,3.705794e+10,2.205961e+10,27.246763,NaN,7544201.0
96,Austria,1973,10294.920170,1.582831e+11,1.426600e+11,4.199756e+10,2.951547e+10,29.438913,NaN,7586115.0
128,Austria,1974,9561.188741,1.645229e+11,1.482839e+11,4.780114e+10,3.518930e+10,32.236239,NaN,7599038.0
...,...,...,...,...,...,...,...,...,...,...
1516,United Kingdom,2017,114792.191025,3.071672e+12,2.010549e+12,2.085008e+12,2.683399e+12,103.703423,103.754450,66058859.0
1548,United Kingdom,2018,113296.303136,3.124044e+12,2.044829e+12,2.157410e+12,2.878152e+12,105.505636,105.828537,66460344.0
1580,United Kingdom,2019,111032.923450,3.174164e+12,2.077635e+12,2.238348e+12,2.857058e+12,107.735406,107.961092,66836327.0
1612,United Kingdom,2020,85276.818061,2.824026e+12,1.848454e+12,2.109594e+12,2.704609e+12,114.127506,113.457364,67081000.0
1644,United Kingdom,2021,90455.575627,3.036532e+12,1.987548e+12,2.276715e+12,3.131378e+12,114.548927,113.784285,67326569.0

In [18]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1664 entries, 0 to 1644
Data columns (total 10 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   country                                                    1664 non-null   object
 1   year                                                       1664 non-null   int64
 2   transport.emissions                                        1630 non-null   float64
 3   GDP (constant 2015 US$)                                    1385 non-null   float64
 4   GDP (constant LCU)                                         1385 non-null   float64
 5   GDP (current LCU)                                          1421 non-null   float64
 6   GDP (current US$)                                          1415 non-null   float64
 7   GDP deflator (base year varies by country)                 1385 non-null   float64
 8   GDP deflator: linked series (base year varies by country)  990 non-null    float64
 9   pop                                                        1664 non-null   float64
dtypes: float64(8), int64(1), object(1)
memory usage: 143.0+ KB

In [19]:
# we use GDP (constant 2015 US$) as gdp
df_merge = df_merge[["country", "year", "transport.emissions", "GDP (constant 2015 US$)", "pop"]].rename(columns = {"GDP (constant 2015 US$)": "gdp"})
df_merge

             country  year  transport.emissions           gdp         pop
0            Austria  1970          7679.742167  1.351691e+11   7467086.0
32           Austria  1971          8464.743388  1.420830e+11   7500482.0
64           Austria  1972          9479.252474  1.509033e+11   7544201.0
96           Austria  1973         10294.920170  1.582831e+11   7586115.0
128          Austria  1974          9561.188741  1.645229e+11   7599038.0
...              ...   ...                  ...           ...         ...
1516  United Kingdom  2017        114792.191025  3.071672e+12  66058859.0
1548  United Kingdom  2018        113296.303136  3.124044e+12  66460344.0
1580  United Kingdom  2019        111032.923450  3.174164e+12  66836327.0
1612  United Kingdom  2020         85276.818061  2.824026e+12  67081000.0
1644  United Kingdom  2021         90455.575627  3.036532e+12  67326569.0

[1664 rows x 5 columns]

In [20]:
df_merge.to_csv("../data/CO2DriversEU_dataset_2021.csv", index = False)